@page
@model RegisterModel
@{
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control form-control-sm rounded-pill" autocomplete="firstname" aria-required="true" placeholder="first name" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control form-control-sm rounded-pill" autocomplete="lastname" aria-required="true" placeholder="last name" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control form-control-sm rounded-pill" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Input.Email">Email</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control form-control-sm rounded-pill" autocomplete="new-password" aria-required="true" placeholder="password" />
        <label asp-for="Input.Password"></label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control form-control-sm rounded-pill" autocomplete="new-password" aria-required="true" placeholder="password" />
        <label asp-for="Input.ConfirmPassword"></label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <hr />
    <div align="center">
        <button id="registerSubmit" type="submit" class="btn btn-outline-success btn-sm rounded-pill">Register</button>
    </div>
    &nbsp;
    <p>
        <label>Already have an account?</label>
        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in</a>
    </p>
</form>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <partial name="_ValidationScriptsPartial" />
}
